In [2]:
import pandas as pd

In [10]:
df = pd.DataFrame(
{"a" : [4, 5, 6], 
"b" : [7, 8, 9], 
"c" : [10, 11, 12]}, 
index = [1, 2, 3])

In [9]:
print(df)

   a  b   c
0  4  7  10
1  5  8  11
2  6  9  12

In [5]:
df2 = pd.DataFrame(
[[4, 7, 10],
[5, 8, 11],
[6, 9, 12]], 
index=[1, 2, 3], 
columns=['a', 'b', 'c'])

In [6]:
print(df2)

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [12]:
df3 = pd.DataFrame(
{"a" : [4 ,5, 6], 
"b" : [7, 8, 9], 
"c" : [10, 11, 12]}, 
index = pd.MultiIndex.from_tuples(
[('d', 1), ('d', 2),
('e', 2)], names=['n', 'v']))

In [13]:
print(df3)

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12

In [14]:
pd.melt(df)

  variable  value
0        a      4
1        a      5
2        a      6
3        b      7
4        b      8
5        b      9
6        c     10
7        c     11
8        c     12