In [5]:
import pandas as pd

data = {
    'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05'],
    'Product': ['A', 'B', 'A', 'C', 'B'],
    'Revenue': [1000, 800, 1200, 500, 900],
    'Quantity_Sold': [10, 8, 12, 5, 9]
}

df = pd.DataFrame(data)

In [8]:
df.head(1)

         Date Product  Revenue  Quantity_Sold
0  2023-01-01       A     1000             10

In [9]:
df.tail(2)

         Date Product  Revenue  Quantity_Sold
3  2023-01-04       C      500              5
4  2023-01-05       B      900              9

In [32]:
df[['Product','Revenue','Date']]
#select data based on column
# If select more than 1 column need [[]]

  Product  Revenue        Date
0       A     1000  2023-01-01
1       B      800  2023-01-02
2       A     1200  2023-01-03
3       C      500  2023-01-04
4       B      900  2023-01-05

In [30]:
df.loc[1:3]
# Basically just selecting data based on their index

         Date Product  Revenue  Quantity_Sold
1  2023-01-02       B      800              8
2  2023-01-03       A     1200             12
3  2023-01-04       C      500              5

In [33]:
df.loc[df["Product"]=="B"]

#  Basically is just: 
#          Select * From df
#          Where Product = B

         Date Product  Revenue  Quantity_Sold
1  2023-01-02       B      800              8
4  2023-01-05       B      900              9

In [40]:
df.loc[0,"Product"]
# select data from product column, index 0

'A'

In [61]:
df.head()

         Date Product  Revenue  Quantity_Sold
0  2023-01-01       A     1000             10
1  2023-01-02       B      800              8
2  2023-01-03       A     1200             12
3  2023-01-04       C      500              5
4  2023-01-05       B      900              9

In [69]:
df.iloc[3,1]
# index 3, column 1 (Product)

'C'

In [71]:
df['NewColumn'] = [1,2,3,4,5]
df.head()

         Date Product  Revenue  Quantity_Sold  NewColumn
0  2023-01-01       A     1000             10          1
1  2023-01-02       B      800              8          2
2  2023-01-03       A     1200             12          3
3  2023-01-04       C      500              5          4
4  2023-01-05       B      900              9          5

In [74]:
df.sort_values("Product", ascending= False)

         Date Product  Revenue  Quantity_Sold  NewColumn
3  2023-01-04       C      500              5          4
1  2023-01-02       B      800              8          2
4  2023-01-05       B      900              9          5
0  2023-01-01       A     1000             10          1
2  2023-01-03       A     1200             12          3

In [78]:
x = df.groupby("Product")  #Group data by Product
x['Revenue'].mean()        #Get the mean of Revenue
x["Quantity_Sold"].sum()   #Sum of Quantity sold

Product
A    22
B    17
C     5
Name: Quantity_Sold, dtype: int64

In [84]:
rev= df[df['Date'] == '2023-01-03']['Revenue'].sum()
print(rev)

1200

In [94]:
df.dtypes

Date             object
Product          object
Revenue           int64
Quantity_Sold     int64
NewColumn         int64
dtype: object

In [97]:
df[df['Product']=='A']['Revenue'].sum()

2200

In [6]:
df.columns

Index(['Date', 'Product', 'Revenue', 'Quantity_Sold'], dtype='object')

In [2]:
question = [
    {"Date": "2023-08-01", "Product": "Product_A", "Quantity": 50, "Revenue": 500.00},
    {"Date": "2023-08-01", "Product": "Product_B", "Quantity": 75, "Revenue": 750.00},
    {"Date": "2023-08-02", "Product": "Product_A", "Quantity": 60, "Revenue": 600.00},
    {"Date": "2023-08-02", "Product": "Product_B", "Quantity": 80, "Revenue": 800.00},
    {"Date": "2023-08-03", "Product": "Product_A", "Quantity": 70, "Revenue": 700.00},
    {"Date": "2023-08-03", "Product": "Product_B", "Quantity": 90, "Revenue": 900.00},
    {"Date": "2023-08-04", "Product": "Product_A", "Quantity": 55, "Revenue": 550.00},
    {"Date": "2023-08-04", "Product": "Product_B", "Quantity": 85, "Revenue": 850.00},
    {"Date": "2023-08-05", "Product": "Product_A", "Quantity": 45, "Revenue": 450.00},
    {"Date": "2023-08-05", "Product": "Product_B", "Quantity": 95, "Revenue": 950.00}
]

In [4]:
import pandas as pd
d = pd.DataFrame(question)

In [16]:
y = d.groupby("Date")
y["Revenue"].sum().idxmax()

'2023-08-03'

In [7]:
import pandas as pd
import numpy as np
data = pd.DataFrame({
    'name':     ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score':    [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify':  ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}, index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

print (data)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [8]:
data['score'].fillna(0, inplace=True) # if inplace is false, or not mentioned, new dataframe will be created
print(data)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    0.0         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    0.0         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes